/* ------------------------------------------------------------estilos div "barra de estados"---------------------*/
.barra_estado{
    
    width: 100%;
    height: 60px;
    background-color: #460259;
    position: absolute; /*sobre el el body*/
    top: 0%;
    left: 0%;
    
}
.btn_icon{
    height: 50px;
    width: 50px;
    position: absolute;
    left: 1%;
    top: 4px;
    border-radius: 10%;
}

.icon_text{
    position: absolute;
    left: 5%;
    color: #ededed;
    top: -2px;
}

.btn_user{
    position: absolute;
    right: 1%;
    top: 5px;
    cursor: pointer;
    padding: 5px 1px;
    font-size:35px;
    text-align: center;
    color: #ededed;
    
}


.btn_message{
    position: absolute;
    right: 4.1%;
    top: 5px;
    cursor: pointer;
    padding: 5px 1px;
    text-decoration: none;/*nuevo*/
    font-size:35px;
    text-align: center;
    color: #ededed;
}

.btn_notification{
    position: absolute;
    right: 7.2%;
    top: 5px;
    cursor: pointer;
    padding: 5px 1px;
    font-size:35px;
    text-align: center;
    color: #ededed;
}

.btn_logout{
    position: absolute;
    right: 10%;
    top: 5px;
    cursor: pointer;
    padding: 5px 1px;
    font-size:35px;
    text-align: center;
    color: #ededed;

}





    /*tengo que vovler a hacer el css para cada boton para el javascript*/

/* ------------------------------------------------------------estilos div "wrapper/searchbox"---------------------*/

.wrapper{
    max-width: 450px;
    margin: 150px auto;
    top: 0%;
    left: 0%;
}

.search-input{
    background: white;
    width: 50%;
    border-radius: 2px;
    position: absolute;
    top: 16%;
    left: 450px;
    box-shadow: 0px 1px 5px rgba(0,0,0,0.2)
}

.search-input input{
    height: 55px;
    width: 100%;
    outline: none;
    border: none;
    border-radius: 5px;
    padding: 0 60px 0 20px;
    font-size: 18px;
    box-shadow: 0px 1px 5px rgba(0,0,0,0.1);
}

.search-input .autocom-box{
    padding:0;
    opacity: 0;
    pointer-events: none;
    max-height: 280px;
    overflow-y: auto;
}

.search-input.active input{
    border-radius: 5px 5px 0 0;
}

.autocom-box li{
    list-style: none;
    padding: 8px 12px;
    display: none;
    width: 100%;
    cursor: default;
    border-radius: 3px;
}

.search-input.active  .autocom-box li{
    display: block;
}

.autocom-box li:hover{
    background: #d6d6d6;
}
.search-input .icon{
position: absolute;
right: 0px;
top: 0px;
height: 55px;
width: 55px;
text-align: center;
line-height: 55px;
font-size: 30px;
color: black;
cursor: pointer;

}

.search-input{
    position: absolute;
    top: 5%;
    left: 22%;
}


/* ------------------------------------------------------------estilos div "contenido"---------------------*/
.contenido{
    height: 500px;
    width: 75%;
    margin: auto;
    position: absolute; /*sobre el el body*/
    top: 150px;
    left: 13%;
    
}
.square_post{  /*los squares estan incluidos en el div principal*/
    height: 50%;
    width: 50%;
    position: absolute; /*sobre "contenido"*/
    top: -1%;
    left:-0.5%
}
.square_space{
    height: 50%;
    width: 50%;
    position: absolute;
    left: 50.5%;
    top:-1%
}

.square_explore{
    height: 250px;
    width: 50%;
    position: absolute;/*sobre "contenido"*/
    bottom:-1%;
    left:-0.5%
}
.square_connect{
    height: 50%;
    width: 50%;
    position: absolute;/*sobre "contenido"*/
    left: 50.5%;
    top:51%

}

.img_post{
    height: 100%;
    width: 100%;
    position: absolute;/*sobre square_post*/
    top: 0%;
    left:0%
}



.img_space{
    height: 100%;
    width: 100%;
    position: absolute;/*sobre square_space*/
    right: 0%;
    top:0%
}

.img_explore{
    height: 100%;
    width: 100%;
    position: absolute;/*sobre square_explore*/
    bottom:0%;
    left:0%;
}

.img_connect{
    height: 100%;
    width: 100%;
    position: absolute;/*sobre square_connect*/
    right: 0%;
    bottom: 0%;

}
.btn_link{
    height: 52px;
    width: 20%;
    background-color: #460259;
    position: absolute;
    border-radius: 10%;
    font-size: 100%;
    top: 40%;
    right: 40%;
    text-align: center;
    text-decoration: none;
    color: #ededed;
    font-size: 20px;
    font-weight: bold; 
}
.btn_link:hover{
    background-color: #c991d8;
    color: #ededed;
    box-shadow: 0 8px 16px rgba(0,0,0,0.2), 0 50px 100px 0 rgba(0,0,0,0.19);
    
}
/* ------------------------------------------------------------estilos div "footer"---------------------*/
.footer{
    
    position: relative;
    top: 700px;
    height: 12%;
    width: 100%;
    left: 0%;
    
}

.footer-links{
    text-align: center;
    position: relative;
    top: 10%;
    left: 35.8%;
    width: 500px;
    color: #460259;
}

/* ------------------------------------------------------------estilos div "titulo"---------------------*/
.titulo{
    height: 82px;
    width: 100%;
    position: absolute;
    top: 61px;
    left: 0%;
    color: #460259;

}

h1 {
    color: #460259;
    text-align: center;
}


h4{
    position: relative;
    top: -27%;
}






